<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AIPhoto</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <style>
        body{
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="height: 48px;background-color: #0f0f0f">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
        </div>
        <div class="row" style="width: 100%;height: auto;background-color: powderblue">
            <div class="col-md-12 ">123</div>
        </div>
    </div>
</body>
</html>